<div class = "dashboard">
  <div class = "title"><%= current_user.username %>'s Dashboard</div>

  <% unless notice.nil? %>
    <p id="notice" class = "notice"><%= notice %></p>
  <% end %>

  <div class = "content">
    <table class = "table">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Public</th>
        <th>Created By</th>
        <th colspan="4"></th>
      </tr>

      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td class = "article-content"><%= article.content.truncate(100) %></td>
          <td><%= article.public %></td>
          <td><%= article.user.username %></td>
          <td><%= link_to "#{article.comments.count} Comments", article_comments_path(article) %></td>
          <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>

    <div class = "add-article">
      <%= link_to 'Add Article', new_article_path %>
    </div>

    <% unless @comments.empty? %>

      <div class = "sub-title">New Comments</div>

      <div class = "comments">
        <% @comments.each do |comment| %>
          <div class = "comment">
              <%= comment.created_at.strftime("%H:%M%P %d-%m-%Y")%>
              <%= comment.user.username %> wrote a comment to <%= comment.article.title %>.&nbsp
              <%= link_to 'Click here to accept it.', article_comment_path(comment.article, comment) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>