<div class = "comments">
  <% @comments_pending.each do |comment| %>
    <div class = "comment">
      <div class = "comment-title"><b><%= comment.title %></b>, to&nbsp;<%=link_to comment.article.title, article_path(comment.article)%></div>
      <div>
        by <%= link_to comment.user.username, profile_path(comment.user), class: "comment-author" %>,
        <%= comment.created_at.strftime("%H:%M%P %Y-%m-%d")%>
      </div>
      <div>
        <strong>Content:</strong>
        <%= truncate comment.content, length: 100 %>
      </div>
      <div>
        waiting for approval...
      </div>
    </div>
  <% end %>
</div>