<div class = edit-article>
  <div class = "title"><%= @article.title %></div>

  <% unless notice.nil? %>
    <p id="notice" class = "notice"><%= notice %></p>
  <% end %>
  <div class = "content">
    <div class = "sub-title">Editing Article</div>
    <div class = "edit">
      <%= render 'form', article: @article %>

      <%= link_to 'Show', @article %>
      <%= link_to 'Back', dashboard_path %>
    </div>
  </div>
</div>
