<div class = "profile">

  <div class = "title"><%= @user.username %>'s Profile</div>

  <% unless notice.nil? %>
    <p id="notice" class = "notice"><%= notice %></p>
  <% end %>

  <div class = "content">
    <div class = "sub-title">Info</div>

    <div class = "user-info">
      <div class = "left">
        <div><b>Username:</b></div>
        <div><b>Email:</b></div>
        <div><b>Member since:</b></div>
        <div><b>Following</b></div>
        <div><b>Followers</b></div>
      </div>

      <div class = "right">
        <div><%= @user.username %></div>
        <div><%= @user.email %></div>
        <div><%= @user.created_at.strftime("%d-%m-%Y") %></div>
        <div id = "following-count"><%= @user.following.count %></div>
        <div id = "followers-count"><%= @user.followers.count %></div>
      </div>
    </div>

    <% if user_signed_in? && current_user != @user %>
      <p><%= render 'follow_form' %></p>
    <% end %>

    <div class = "sub-title">Articles:</div>

    <div class = "articles">
      <% @articles.each do |article| %>
        <div class = "article">
          <div>
            <%= link_to article.title, article_path(article), class: "article-title" %>
          </div>
          <div>
            by <%= link_to article.user.username, profile_path(article.user), class: "article-author" %>,
            <%= article.created_at.strftime("%H:%M%P %Y-%m-%d")%>
          </div>
          <div>
            <strong>Content:</strong>
            <%= truncate article.content, length: 100 %>
          </div>
          <div>
            <strong>Votes:</strong>
            <%= article.vote_count %>
          </div>
        </div>
      <% end %>
    </div>

    <div class = "sub-title">Comments:</div>

    <div class = "comments">
      <% @comments.each do |comment| %>
        <div class = "comment">
          <div class = "comment-title"><b><%= comment.title %></b>, to&nbsp;<%=link_to comment.article.title, article_path(comment.article)%></div>
          <div>
            by <%= link_to comment.user.username, profile_path(comment.user), class: "comment-author" %>,
            <%= comment.created_at.strftime("%H:%M%P %Y-%m-%d")%>
          </div>
          <div>
            <strong>Content:</strong>
            <%= truncate comment.content, length: 100 %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
