<!DOCTYPE html>
<html>
  <head>
    <title>Mediumish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <hr>

    <%= link_to 'Home page', root_path%>

    <% if user_signed_in? %>
      <p>Logged in as <%= current_user.email%></p>
      <%= link_to 'Dashboard', dashboard_path %> |
      <%= link_to 'Profile', profile_path(current_user) %> |
      <%= link_to 'LogOut', destroy_user_session_path, method: :delete %>
    <% else %>
       | <%= link_to 'Sign Up', new_user_registration_path %> |
      <%= link_to 'LogIn', new_user_session_path %>
    <% end %>

    <hr>

    <%= yield %>
  </body>
</html>
